<form [ngFormModel]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="form-horizontal">
  <div class="form-group">
    <h2 class="col-sm-9 col-sm-offset-3">Données personnelles</h2>
  </div>
  <div *ngIf="birthdate.touched && !birthdate.valid" class="col-sm-9 col-sm-offset-3 alert alert-danger">
      <p *ngIf="birthdate.errors.required">Date de naissance requise</p>
      <p *ngIf="birthdate.errors.isNotDate">La date de naissance n'est pas au format JJ.MM.AAAA</p>
  </div>
  <div *ngIf="birthdatePartner.touched && !birthdatePartner.valid" class="col-sm-9 col-sm-offset-3 alert alert-danger">
      <p *ngIf="birthdatePartner.errors.required">Date de naissance du conjoint requise</p>
      <p *ngIf="birthdatePartner.errors.isNotDate">La date de naissance du conjoint n'est pas au format JJ.MM.AAAA</p>
  </div>
  <div class="form-group">
    <label for="birthdateInput" class="col-sm-3 control-label">Date de naissance</label>
    <div class="col-sm-9">
      <input type="text" 
             id="birthdateInput"
             placeholder="JJ.MM.AAAA"
             [ngFormControl]="birthdate"
             [class.error]="!birthdate.valid && birthdate.touched"
             class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="civilstatusSelect" class="col-sm-3 control-label">Etat civil</label>
    <div class="col-sm-9">
    <select id="civilstatusSelect"
            [ngFormControl]="civilstatus"
            class="form-control">
      <option *ngFor="#c of civilstatusList" [value]="c">{{c}}</option>
    </select>
    </div>
  </div>
  <div *ngIf="civilstatus.value == 'Marié'" class="form-group" >
    <label for="birthdatePartnerInput" class="col-sm-3 control-label">Date de naissance du conjoint</label>
    <div class="col-sm-9">
      <input type="text" 
             id="birthdatePartnerInput"
             placeholder="JJ.MM.AAAA"
             [ngFormControl]="birthdatePartner"
             [class.error]="!birthdatePartner.valid && birthdatePartner.touched"
             class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="nationalitySelect" class="col-sm-3 control-label">Nationalité</label>
    <div class="col-sm-9">
    <select id="nationalitySelect" 
            [ngFormControl]="nationality"
            class="form-control">
      <option *ngFor="#n of nationalityList" [value]="n">{{n}}</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label for="retireageSelect" class="col-sm-3 control-label">Age de la retraite</label>
    <div class="col-sm-9">
    <select id="retireageSelect" 
            [ngFormControl]="retireage"
            class="form-control">
      <option *ngFor="#r of retireageList" [value]="r">{{r}}</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" [disabled]="!formGroup.valid" class="btn btn-default">Submit</button>
    </div>
  </div>
<!-- input radio ne marche pas, en attente d'un fix d'angular2
  <div class="form-group">
    <label class="col-sm-3 control-label">Sexe</label>
    <div class="col-sm-9">
      <label class="radio-inline">
        <input type="radio" 
               [ngFormControl]="gender"
               name="gender" 
               value="Female"> Féminin
      </label>
      <label class="radio-inline">
        <input type="radio"
               [ngFormControl]="gender"
               name="gender"
               value="Male"> Masculin
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="kids" class="col-sm-3 control-label">Enfant(s)</label>
    <div class="col-sm-9">
    <select id="kids" class="form-control" [(ngModel)]="kids">
      <option *ngFor="#k of kids" [value]="k">{{k}}</option>
    </select>
    </div>
  </div>   
-->
</form>